In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import os
import json
import gmaps.datasets
import ipywidgets as widgets
# Import the API key.
from config import google_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,69.58,82,100,1.63,US,2022-09-11 21:26:03
1,1,Coihaique,-45.5752,-72.0662,49.95,53,100,6.91,CL,2022-09-11 21:32:31
2,2,Rincon,32.2960,-81.2354,85.91,87,86,8.46,US,2022-09-11 21:32:31
3,3,Hailey,43.5196,-114.3153,83.98,20,0,6.91,US,2022-09-11 21:32:31
4,4,Vila Velha,-20.3297,-40.2925,71.55,85,100,16.11,BR,2022-09-11 21:32:32

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Create a Maximum Temperature Heatmap

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Create a Percent Cloudiness Heatmap

# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

print(fig)

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Create a Wind Speed Heatmap

# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

print(fig)

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,69.58,82,100,1.63,US,2022-09-11 21:26:03
2,2,Rincon,32.2960,-81.2354,85.91,87,86,8.46,US,2022-09-11 21:32:31
3,3,Hailey,43.5196,-114.3153,83.98,20,0,6.91,US,2022-09-11 21:32:31
4,4,Vila Velha,-20.3297,-40.2925,71.55,85,100,16.11,BR,2022-09-11 21:32:32
5,5,Pochutla,15.7432,-96.4661,81.82,77,100,2.17,MX,2022-09-11 21:32:32
10,10,Arraial Do Cabo,-22.9661,-42.0278,67.96,73,100,8.05,BR,2022-09-11 21:32:34
11,11,Pimentel,-6.8367,-79.9342,66.49,68,0,21.85,PE,2022-09-11 21:32:35
12,12,Sao Filipe,14.8961,-24.4956,78.51,81,27,11.14,CV,2022-09-11 21:31:58
14,14,Kapaa,22.0752,-159.3190,84.52,65,20,11.50,US,2022-09-11 21:29:17
20,20,Salalah,17.0151,54.0924,78.89,100,75,5.75,OM,2022-09-11 21:32:37

In [12]:
preferred_cities_df.count()

City_ID       357
City          357
Lat           357
Lng           357
Max Temp      357
Humidity      357
Cloudiness    357
Wind Speed    357
Country       356
Date          357
dtype: int64

In [13]:
#Get Travel Destinations

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Albany      US     69.58  42.6001  -73.9662
2            Rincon      US     85.91  32.2960  -81.2354
3            Hailey      US     83.98  43.5196 -114.3153
4        Vila Velha      BR     71.55 -20.3297  -40.2925
5          Pochutla      MX     81.82  15.7432  -96.4661
10  Arraial Do Cabo      BR     67.96 -22.9661  -42.0278
11         Pimentel      PE     66.49  -6.8367  -79.9342
12       Sao Filipe      CV     78.51  14.8961  -24.4956
14            Kapaa      US     84.52  22.0752 -159.3190
20          Salalah      OM     78.89  17.0151   54.0924

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [17]:
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Albany      US     69.58  42.6001  -73.9662
2            Rincon      US     85.91  32.2960  -81.2354
3            Hailey      US     83.98  43.5196 -114.3153
4        Vila Velha      BR     71.55 -20.3297  -40.2925
5          Pochutla      MX     81.82  15.7432  -96.4661
10  Arraial Do Cabo      BR     67.96 -22.9661  -42.0278
11         Pimentel      PE     66.49  -6.8367  -79.9342
12       Sao Filipe      CV     78.51  14.8961  -24.4956
14            Kapaa      US     84.52  22.0752 -159.3190
20          Salalah      OM     78.89  17.0151   54.0924

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))